$font-light: 'Roboto-light';
$font-normal: 'Roboto-normal';
$font-bold: 'Roboto-bold';
$font-bolder: 'Roboto-bolder';

$color-white: #fff;
$color-black: #000;
$color-tangaroa: #02133C;
$color-tundora: #4B4B4B;
$color-dusty-grey: #959595;
$color-milano-red: #C40B0B;
$color-wild-sand: #F5F5F5;