.about {
    background-color: $color-wild-sand;
    padding-bottom: 140px;

    &__inner {
        background-image: url(../assets/images/promise-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 700px;
        margin: 0 auto;
        color: $color-white;
        padding: 100px 87px 0;
        position: relative;
        top: -80px;
    }

    &__title {
        max-width: 583px;
        margin-bottom: 36px;
    }

    &__text {
        margin-bottom: 54px;
    }
    
    &__img {
        max-width: 846px;
    }
}