.promise {
    background-color: $color-wild-sand;
    padding-bottom: 122px;
    &__title {
        margin-bottom: 68px;
    }
    &__items {
        
    }
    &__item {
        padding-left: 86px;
        position: relative;
        &-first::before {
            content: '';
            width: 63px;
            height: 63px;
            position: absolute;
            background-image: url(../assets/images/promise-img-first.png);
            top: 0;
            left: 0;
        }
        &-second::before {
            content: '';
            width: 63px;
            height: 63px;
            position: absolute;
            background-image: url(../assets/images/promise-img-second.png);
            top: 0;
            left: 0;
        }
        &-third::before {
            content: '';
            width: 63px;
            height: 63px;
            position: absolute;
            background-image: url(../assets/images/promise-img-third.png);
            top: 0;
            left: 0;
        }
        &-title {
            margin-bottom: 20px;
        }
    }
}