.service {
    padding: 110px 0 122px;
    background-color: $color-wild-sand;
    z-index: -2;
    &_top {
        position: absolute;
        width: 642px;
        height: 450px;
        background-image: url(../assets/images/services-top-left.png);
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &_bottom {
        position: absolute;
        width: 642px;
        height: 450px;
        background-image: url(../assets/images/services-right-bottom.png);
        background-repeat: no-repeat;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    &__title {
        margin-bottom: 78px;
    }
    &__items {
        margin:-24px -12px 66px;
    }
    &__item {
        max-width: 324px;
        margin: 24px 12px;
        margin-bottom: 24px;
        padding: 50px 44px;
        text-align: center;
        background-color: $color-white;
        &-img {
            max-width: 63px;
        }
    }
}