.video {
    background-image: url(../assets/images/video-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;

    &_height {
        height: 100%;
    }

    &__title {
        max-width: 411px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        &-img {
            max-width: 140px;
        }  
    }
}